body {
    /* background-image: url(images/bg1.jpg); */
    background-size: cover;
    /* width: 100%; */
    /* cursor: url('images/pngtree-brush-circle-creative-brush-effect-png-image_6020152.jpg'),auto; */
    /* pointer-events: none; */
    
}
#header {
    position: fixed;
    top: 0;
    width: 100%;
    mix-blend-mode: difference;
} 

#logo {
    height: 100px;
    padding: 50px 0px 0px 90px;
    position: sticky;
}
/* button{
    border: none;
    
} */

#bar {
    /* height: 70px; */
    float: right;
    padding: 50px 90px 0px 0px;
    mix-blend-mode: difference;
    /* color: white; */
}

@font-face {
    font-family: 'Gnasher';
    src: url(font/YRTGnasher.woff2);
}

#section1 {
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    /* line-height: 120px; */
    margin-top: 300px;
    padding: 0px 100px;
    font-family: 'Gnasher';
}
.br {
    display: block;
    width: fit-content;
    padding-top: 20px;
    mix-blend-mode: difference;
}

/* .br {
    display: inline-flex;
    margin-bottom: 0em;
} */

a {
    color: white;
    text-decoration: none;
    
}

.insta {
    padding-top: 100px;
    padding-bottom: 100px;
    /* transition: 0.1s; */
}

#footer {
    color: white;
    background-color: rgb(5, 9, 14);
    /* padding: 20px 100px 20px 100px; */
    padding-top: 50px;
    width: 100%;
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    display: flex;
    justify-content: space-between;
  
}
.copyright {
    padding-left: 50px;
}

/* .reverse {
    display: inline-block;
    
} */


.reverse:hover {
    /* display: inline; */
    transform: scale(-1, 1);
    /* font-size: 120px; */
    font-weight: bolder;
    mix-blend-mode: difference;
    /* -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); */
}

.icons {
    /* float: left; */
    padding-right: 140px; 
    padding: 40px;
}
.bi {
    padding-left: 8px;
}

#cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    /* border: 2px solid white; */
    background: #ffffff;
    transition: 0.1s;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    display: none;
}

body:has(a:hover) #cursor {
    transform: scale(5);
}

/* body:has(.br:hover) #cursor{
    mix-blend-mode: difference;
    transform: scale(-1, 1);

    transform: scale(6);
} */

/* #logo:hover ~ .cursor {
    transform: scale(4);
}
#header:hover ~.cursor {
    transform: scale(4);
}
#footer:hover ~.cursor {
    transform: scale(4);
}

#bar:hover ~ .cursor {
    transform: scale(4);
} */


/* .bi:hover ~.cursor{
    transform: scale(4);
} 
.copyright:hover ~ .cursor{
    transform: scale(6);
} */
